<div class="max-w-[1200px] mx-auto flex flex-col my-8">
     <h2 class="py-4 text-center text-[24px]">Products List API</h2>
     {{product}}
     <div *ngFor="let new in dummy">
          {{new.name}}
     </div>
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="border-[2px] rounded-[8px] min-w-full divide-y divide-gray-200">
          <thead>
            <tr class="bg-slate-800">
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-white uppercase"
              >
                Product Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-white uppercase"
              >
                Price
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-white uppercase"
              >
                Ratings
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-white uppercase"
              >
                Brand
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-end text-xs font-medium text-white uppercase"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">

            <tr>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
              >
                <!-- {{item.name}} -->
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                45
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                New York No. 1 Lake Park
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"
              >
                <button
                  type="button"
                  class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
                >
                  Delete
                </button>
              </td>
            </tr>

            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
